/* was made by @bolev98 aka @bolev983 */

:root {
  --pronouns-border: 2px solid var(--background-primary);
}

.biteSize_c0bea0 {
    overflow: visible !important;
    
    .footer__5be3e {
      display: none !important;
    }
  
    .descriptionClamp_f5f93a {
        line-clamp: 2;
      -webkit-line-clamp: 2;
    }
  
    rect[mask^="url(#svg-mask-status"] {
      display: block;
    }
  
    .container_ab8609 { /* status */
      position: absolute;
      left: 0px;
      top: -8px;

      transform: translateY(-100%);
      transform-origin: bottom left;
      
      .outer_ab8609::before {
        opacity: 0;
        top: 42px;
        left: 10px;
      }
  
      .outer_ab8609::after {
        opacity: 0;
        top: 70px;
        left: 20px;
      }

      .outer_ab8609{
        border-radius: 8px;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
      }
    }

    .body_ce8328 {   /*fixes the widget that shows up when you click on ur profile at the bottom left corner */
      overflow: visible !important;
    }
  
    .usernameRow__63ed3 {
      position: absolute;
      top: -80px;
      left: 109px;
      h1 {
        color: #fff;
      }
    }
  
    .nickname__63ed3 {
      /* word-wrap: normal; */
      max-height: 24px;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 130px;
    }
  
    .tags__63ed3 .clickableUsername__63ed3 {
      position: absolute;
      top: -58px;
      left: 110px;
      .userTagUsername__63ed3 {
        color: #e0e0e0;
      }
    }
  
    .container__8061a {
      margin-top: 2px !important;
      padding: 2px !important;

      position: absolute;
      top: -40px;
      left: 109px;
      max-width: 90px;
      max-height: 24px;
      height: fit-content;
      width: fit-content;
      flex-direction: row;
      align-items: center;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      z-index: 1;
      backdrop-filter: blur(5px);
      
      &:hover {
        background-color: rgba(73, 73, 73, 0.25);
        max-width: 110px;
        max-height: fit-content;
      }
    }
  
    .mutuals__530ce {
      position: absolute;
      top: 16px;
      right: 0px;

      .text__530ce,
      .spacer__530ce {
        display: none;
      }

      .avatars_ef4a91 { /* mutual friends */
        transform: translateY(-100%);
        transform-origin: bottom right;
        /* flex-direction: row; */

        padding: 4px;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        border-radius: 8px;
        
        position: absolute;
        right: 6px;
        bottom: 6px;
        z-index: 1;
        &:hover {
          background-color: rgba(49, 49, 49, 0.25);
        }
      }
    }
  
    /* .contents__201d5:not(.buttonInner_fb7f94) {
      display: none;
    } */
  
    .header__5be3e {
      min-height: 0px;
      height: 105px !important;
  
    }
  
    .dotSpacer__63ed3 {
      display: none;
    }
  
    [mask^="url(#uid_"] {
      mask: none;
      opacity: 0.5;
      overflow: hidden;
      height: 100%;
  
    }
  
    .avatar__75742 {
      top: 12px !important;
    }
  
    .body__5be3e {
      overflow: visible !important;
      padding: 4px 10px 10px 10px !important;
    }
    .inner_c0bea0 {
      padding: 0px !important;
    }
  
    .pronounsTooltip__63ed3 {
      padding: 4px !important;
      border-radius: 8px;
      /* background-color: rgba(0, 0, 0, 0.336); */
      background-color: var(--background-code);
      border: 2px solid var(--border-normal);
      /* &::before{
        content: "Pronouns";
      } */
    }

    .mask__68edb,
    .banner__68edb {
      overflow: visible;
      height: 00% !important;
      width: 100% !important;
      contain: none !important;
      min-height: 100% !important;
      border-radius: 8px;
      box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    }

    .biteSize_da5890{
      div button{
        border-radius: 8px;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
